.chat-section{
    height: 80vh;
}

.chat-screen{
    margin: 10px;
    height: 60vh;
    border-radius: 10px;
    border: solid black;
    display: flex;
    padding: 20px;
}
.chat-user-list{
    margin: 5px;
    width: 20%;
    height: 55vh;
    border-radius: 10px;
    border: solid rgb(219, 120, 120);
    overflow: scroll;
}
.chat-user-list ul{
    border-radius: 10px;
    width: 100%;
}
.chat-user-list li{
    text-decoration: none;
    list-style: none;
}
.chat-texts{
    border: solid rgb(34, 47, 233);
    border-radius: 10px;
    margin: 5px;
    width: 80%;
    height: 55vh;
    overflow: scroll;
}
.chat-input-screen{
    margin: 10;
    margin-top: 0;
    border: solid black;
    border-radius: 10px;
    padding: 10px;
}
.chat-input-screen .chat-input{
    display: flex;
    height: 40px;
}
.chat-input-screen textarea{
    width: 70%;
}
.chat-message{
    float: right;
    width: 100%;
    margin-top: 10px;
}

